on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

name: Scala Steward
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - uses: sbt/setup-sbt@v1
      - uses: scala-steward-org/scala-steward-action@v2
        with:
          github-app-id: ${{ secrets.APP_ID }}
          github-app-installation-id: ${{ secrets.APP_INSTALLATION_ID }}
          github-app-key: ${{ secrets.APP_PRIVATE_KEY }}
          github-app-auth-only: true
          branches: main
          other-args: "--add-labels"
